Backups/
blob_storage/
Cache/
CachedData/
CachedExtensions/
Code Cache/
Cookies
Cookies-journal
Dictionaries/
GPUCache
languagepacks.json
logs/
machineid
Network Persistent State
rapid_render.json
Session Storage/
storage.json
TransportSecurity
User/
data/